@model PatientForm


@{
    var code = Model.Code;
    var referringFacility = Model.ReferringFacility.Name;
    var referringFacilityContact = Model.ReferringFacility.Contact;
    var referringFacilityAddress = GlobalFunctions.GetAddress(Model.ReferringFacility);
    var referredFacility = Model.ReferredToNavigation.Name;
    var referredFacilityDepartment = Model.Department.Description;
    var referredFacilityAddress = GlobalFunctions.GetAddress(Model.ReferredToNavigation);
    var dateReferred = Model.TimeReferred;
    var dateTransferred = Model.TimeTransferred;
    var patientName = GlobalFunctions.GetFullName(Model.Patient);
    var patientAge = GlobalFunctions.ComputeAge(Model.Patient.DateOfBirth);
    var patientSex = Model.Patient.Sex;
    var patientCivilStatus = Model.Patient.CivilStatus;
    var patientAddress = GlobalFunctions.GetAddress(Model.Patient);
    var patientPhicStatus = Model.Patient.PhicStatus;
    var patientPhicId = Model.Patient.PhicId;
    var caseSummary = Model.CaseSummary;
    var recoSummary = Model.RecommendSummary;
    var diagnosis = Model.Diagnosis;
    var reason = Model.Reason;
    var ReferringMd = GlobalFunctions.GetMDFullName(Model.ReferringMdNavigation);
    var ReferringMdContact = Model.ReferringMdNavigation.Contact;
    var ReferredMd = GlobalFunctions.GetMDFullName(Model.ReferredMdNavigation);
    var accept = "accept-modal";

}
    <div class="modal fade" role="dialog" id="patient-form-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    CENTRAL VISAYAS HEALTH REFERRAL SYSTEM
                    <br>
                    <small>
                        Clinical Referral Form
                    </small>
                </div>
                <div class="modal-body">
                    <!-- REFER BODY -->
                    <form asp-action="Refer">
                        <table class="table table-striped">
                            <tbody>
                                <!-- FACILITY NAME-->
                                <tr>
                                    <td colspan="6" class="warning">
                                        ReferringFacility: @referringFacility
                                    </td>
                                </tr>
                                <!-- FACILITY ADDRESS -->
                                <tr>
                                    <td colspan="6">
                                        Address: @referringFacilityAddress
                                    </td>
                                </tr>
                                <tr>
                                    <!-- REFERRED TO -->
                                    <td colspan="3">
                                        Referred to: @referredFacility
                                    </td>
                                    <!-- DEPARTMENT -->
                                    <td colspan="3">
                                        Department: @referredFacilityDepartment
                                    </td>
                                </tr>
                                <!-- ADDRESS OF REFERRED HOSPITAL -->
                                <tr>
                                    <td colspan="6">
                                        Address: @referredFacilityAddress
                                    </td>
                                </tr>
                                <tr>
                                    <!-- DATE/TIME REFERRED -->
                                    <td colspan="3">
                                        Date/Time Referred (ReCo):
                                        <span class="text-warning">@dateReferred</span>
                                    </td>
                                    <!-- DATE/TIME TRANSFERRED -->
                                    <td colspan="3">
                                        Date/Time Transferred:
                                    </td>
                                </tr>
                                <tr>
                                    <!-- NAME OF PATIENT -->
                                    <td colspan="3">
                                        Name of Patient:
                                        <span class="text-warning">
                                            @patientName
                                        </span>
                                    </td>
                                    <!-- AGE -->
                                    <td>
                                        Age:
                                        <span class="text-warning">
                                            @patientAge
                                        </span>
                                    </td>

                                    <!-- SEX -->
                                    <td>
                                        Sex:
                                        <span class="text-warning">
                                            @patientSex
                                        </span>

                                    </td>

                                    <!-- STATUS -->
                                    <td>
                                        Status:
                                        <span class="text-warning">
                                            @patientCivilStatus
                                        </span>
                                    </td>
                                </tr>
                                <!-- ADDRESS OF PATIENT -->
                                <tr>
                                    <td colspan="6">
                                        Address:
                                        <span class="text-warning">
                                            @patientAddress
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- PHILHEALTH STATUS -->
                                    <td colspan="3">
                                        PhilHealth:
                                        <span class="text-warning">
                                            @patientPhicStatus
                                        </span>
                                    </td>
                                    <!-- PHILHEALTH NUMBER -->
                                    <td colspan="3">
                                        PhilHealth#:
                                        <span class="text-warning">
                                            @patientPhicId
                                        </span>
                                    </td>
                                </tr>
                                <!-- CASE SUMMARY -->
                                <tr>
                                    <td colspan="6">
                                        Case Summary (pertinent Hx/PE, including meds, labs, course etc.):
                                        <span class="text-warning ">
                                            @caseSummary
                                        </span>
                                    </td>
                                </tr>
                                <!-- SUMMARY OF RECO -->
                                <tr>
                                    <td colspan="6">
                                        Summary of ReCo (Please refer to ReCo Guide in Referring Patients Checklist):
                                        <span class="text-warning">
                                            @recoSummary
                                        </span>
                                    </td>
                                </tr>
                                <!-- DIAGNOSYS/IMPRESSION -->
                                <tr>
                                    <td colspan="6">
                                        Diagnosis/Impression:
                                        <span class="text-warning">
                                            @diagnosis
                                        </span>
                                    </td>
                                </tr>
                                <!-- REASON -->
                                <tr>
                                    <td colspan="6">
                                        Reason for referral:
                                        <span class="text-warning">
                                            @reason
                                        </span>
                                    </td>
                                </tr>
                                <!-- NAME OF REFERRING -->
                                <tr>
                                    <td colspan="6">
                                        Name of Referring MD/HCW:
                                        <span class="text-warning">
                                            @ReferringMd
                                        </span>
                                    </td>
                                </tr>
                                <!-- CONTACT OF REFERRING -->
                                <tr>
                                    <td colspan="6">
                                        Contact # of referring MD/HCW:
                                        <span class="text-warning">
                                            @ReferringMdContact
                                        </span>
                                    </td>
                                </tr>
                                <!-- NAME OF REFERRED -->
                                <tr>
                                    <td colspan="6">
                                        Name of referred MD/HCW- Mobile Contact # (ReCo):
                                        <span class="text-warning">
                                            @ReferredMd
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </form>
                </div>
                <!-- REFER FOOTER -->
                <div class="modal-footer justify-content-end">
                    <!-- CLOSE -->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!-- CALL REQUEST -->
                    <button class="btn btn-info" asp-controller="Remarks" asp-action="ActionRemark" asp-route-code="@code" value="@code" type="button" data-toggle="modal" data-target="#@accept">
                        <i class="fa fa-phone"></i>
                        Call Request
                    </button>
                    <!-- RECOMMEND TO REDIRECT -->
                    <button class="btn btn-danger" asp-controller="Remarks" asp-action="ActionRemark" asp-route-code="@code" value="@code" type="button" data-toggle="modal" data-target="#@accept">
                        <i class="fa fa-line-chart"></i>
                        Recommend to Redirect
                    </button>
                    <!-- ACCEPT -->
                    <button class="btn btn-success" id="accept-btn" value="@code" type="button" data-toggle="modal" data-target="#@accept">
                        <i class="fa fa-check"></i>
                        Accept
                    </button>
                </div>
            </div>
        </div>
    </div>

<script>

    var acceptBtn = $('#accept-btn');

    acceptBtn.on('click', function () {
        console.log('yow');
        var patientCode = this.value;
        var url = "/Remarks/AcceptedRemark?code=" + patientCode;
        console.log(url);
        $("#accept_content").html("Loading..............");
        $.get(url, function (result) {
            $("#accept_content").html(result);
        })
    });

</script>


