@model PaginatedList<Activity>

@{
    ViewData["Title"] = "Archived Patients";
    var dateToday = DateTime.Now;
    var firstDayOfMonth = new DateTime(dateToday.Year, 1, 1);
    var lastDayOfMonth = new DateTime(dateToday.Year, 12, 31);
}


<div class="col-md-12">

    <!-- CARD START-->
    <div class="card">
        <!-- CARD DANGER HEADER -->
        <div class="card-header">
            @await Html.PartialAsync("~/Views/Shared/PartialViews/_PatientSearchFilter.cshtml", new SearchModel
            {
                Action = "Archived"
            })
            <div>
                <h3 class="card-title">Archived Patients</h3><br />
                <span class="text-sm text-muted">TOTAL: @ViewBag.Total</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- CARD DANGER BODY -->
        <form method="post" action="">
            <input type="hidden" name="_token" value="" autocomplete="off" />
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <p>Referring Facility</p>
                            </th>
                            <th>
                                <p>Patient Name/Code</p>
                            </th>
                            <th>
                                <p>Date Archived</p>
                            </th>
                            <th>
                                <p>Reason</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var facility = item.ReferredFromNavigation.Name;
                            var patientName = item.Patient.FirstName + " " + item.Patient.MiddleName + " " + item.Patient.LastName;
                            var code = item.Code;
                            var status = item.Status;
                            var dateCancelled = item.DateReferred.ToString("MMMM dd, yyyy hh:mm tt", System.Globalization.CultureInfo.InvariantCulture);
                            var reason = item.Remarks;

                            <tr>
                                <td>
                                    @facility)<br />
                                    @*if (item.Type.Equals("pregnant"))
                                        {
                                            <p class="small text-muted">Pregnant</p>
                                        }
                                        else
                                        {
                                            <p class="small text-muted">Non-Pregnant</p>
                                        }*@
                                </td>
                                <td>
                                    @patientName
                                    <p class="small text-muted">
                                        @code
                                    </p>
                                </td>
                                <td>
                                    <span>@dateCancelled</span>
                                </td>
                                <td>
                                    @reason
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <!-- CARD FOOTER -->
            <div class="card-footer">
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }

                <a asp-action="GetAcceptedPatients"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model._pageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-primary @prevDisabled">
                    Previous
                </a>
                <a asp-action="GetAcceptedPatients"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model._pageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-primary @nextDisabled">
                    Next
                </a>
            </div>
        </form>
    </div>
</div>


