@model PaginatedList<IncomingViewModel>

@{
    ViewData["Title"] = "Incoming Patients";
    var accept = "accept-modal";
    var startDate = ViewBag.StartDate;
    var endDate = ViewBag.EndDate;
    var dateRange = startDate + " - " + endDate;
}

<div class="content">
    <div class="container">
        <div class="row">
            <!-- CARD DANGER -->
            <div class="col-md-3">
                <!-- SELECT DATE -->
                <div class="card card-danger card-green">
                    <!-- CARD DANGER HEADER -->
                    <div class="card-header">
                        <h3 class="card-title">
                            Filter Result
                        </h3>
                        <span class="badge fa-pull-right">
                            Result: @ViewBag.Total
                        </span>
                    </div>
                    <!-- CARD DANGER BODY -->
                    <div class="card-body">
                        <form asp-action="Incoming" method="post">
                            <!-- SEARCH -->
                            <div class="form-group ">
                                <input class="form-control" type="text" placeholder="Code, Firstname, Lastname" name="search" value="@ViewBag.CurrentSearch" autocomplete="off" />
                            </div>
                            <!-- DATE FILTER -->
                            <div class="form-group">
                                <input class="form-control" type="text" name="daterange" value="@dateRange" autocomplete="off">
                            </div>
                            <!-- DEPARTMENT -->
                            <div class="form-group">
                                <select class="form-control" asp-items="ViewBag.Departments" name="department">
                                    <option value="">All Department</option>
                                </select>
                            </div>
                            <!-- STATUS -->
                            <div class="form-group">
                                <select class="form-control" 
                                        name="status"
                                        asp-items="ViewBag.IncomingStatus">
                                    <option value="">Select All</option>
                                </select>
                            </div>
                            <div class="form-group hide"></div>
                            <!-- BUTTONS -->
                            <div class="form-group">
                                <!-- FILTER -->
                                <button type="submit" value="Filter" class="btn btn-block btn-success">
                                    <i class="fa fa-filter"></i>
                                    &nbsp;Filter Result
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <partial name="~/Views/Shared/PartialViews/_MainMenuPartial.cshtml" />
            </div>
            <div class="col-md-9">
                <!-- PATIENT LIST -->
                <div class="card card-outline">
                    <!-- DAILY USERS HEADER -->
                    <div class="card-header with-border">
                        <h2>
                            Incoming Patients
                        </h2>
                    </div>
                    <!-- DAILY USERS BODY -->
                    <div class="card-body">
                        <div class="timeline">
                            @if (Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    var dateAction = item.DateAction.ToString("MMM dd, yyyy hh:mm tt", System.Globalization.CultureInfo.InvariantCulture);
                                    var currentUserFacility = int.Parse(User.FindFirstValue("Facility"));
                                    var currentUserDepartment = int.Parse(User.FindFirstValue("Department"));

                                    switch (item.Status)
                                    {
                                        case "rejected":
                                            {
                                                <div>
                                                    <i class="fa fa-user-times bg-maroon"></i>
                                                    <div class="timeline-item">
                                                        <span class="time">
                                                            <i class="fa fa-calendar">
                                                                &nbsp;@dateAction
                                                            </i>
                                                        </span>
                                                        <h3 class="timeline-header no-border">
                                                            <small class="text-bold">
                                                                <a href="@Url.Action("Track","ViewPatients", new { code = item.Code })" target="_blank">@item.Code</a>
                                                            </small>
                                                            <a href="#">@item.PatientName</a>
                                                            was RECOMMENDED TO REDIRECT to other facility by
                                                            <span class="custom-warning">@item.ActionMd</span>
                                                        </h3>
                                                        <div class="timeline-footer">
                                                            <div class="form-inline">
                                                                <div class="form-group">
                                                                    @if (item.SeenCount > 0)
                                                                    {
                                                                        <button type="button" class="btn btn-success btn-xs" data-toggle="ajax-modal" data-target="#seen-modal" data-url="@Url.Action("ViewSeens","Modals", new { trackingId = item.TrackingId })">
                                                                            <i class="fa fa-user-md"></i>
                                                                            &nbsp;Seen
                                                                            <small class="badge bg-green">@item.SeenCount</small>
                                                                        </button>
                                                                    }
                                                                    <button type="button" class="btn btn-info btn-xs" data-toggle="ajax-modal" data-target="#reco-modal" data-url="@Url.Action("ViewReco","Modals", new { code = item.Code })">
                                                                        <i class="fa fa-comments"></i>
                                                                        &nbsp;ReCo
                                                                        @if (item.FeedbackCount > 0)
                                                                        {
                                                                            <small class="badge bg-blue">@item.FeedbackCount</small>
                                                                        }
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                break;
                                            }
                                        case "accepted":
                                            {
                                                <div>
                                                    <i class="fa fa-user-plus bg-olive"></i>
                                                    <div class="timeline-item">
                                                        <span class="time">
                                                            <i class="fa fa-calendar">
                                                                &nbsp;@dateAction
                                                            </i>
                                                        </span>
                                                        <h3 class="timeline-header no-border">
                                                            <small class="text-bold">
                                                                <a href="@Url.Action("Track","ViewPatients", new { code = item.Code })" target="_blank">@item.Code</a>
                                                            </small>
                                                            <a href="#">@item.PatientName</a>
                                                            was
                                                            <span class="badge badge-success">
                                                                accepted
                                                            </span>
                                                            by
                                                            <span class="text-success">@item.ActionMd</span>
                                                        </h3>
                                                        <div class="timeline-footer">
                                                            <div class="form-inline">
                                                                <div class="form-group">
                                                                    @if (item.SeenCount > 0)
                                                                    {
                                                                        <button type="button" class="btn btn-success btn-xs" data-toggle="ajax-modal" data-target="#seen-modal" data-url="@Url.Action("ViewSeens","Modals", new { trackingId = item.TrackingId })">
                                                                            <i class="fa fa-user-md"></i>
                                                                            &nbsp;Seen
                                                                            <small class="badge bg-green">@item.SeenCount</small>
                                                                        </button>
                                                                    }
                                                                    <button type="button" class="btn btn-info btn-xs" data-toggle="ajax-modal" data-target="#reco-modal" data-url="@Url.Action("ViewReco","Modals", new { code = item.Code })">
                                                                        <i class="fa fa-comments"></i>
                                                                        &nbsp;ReCo
                                                                        @if (item.FeedbackCount > 0)
                                                                        {
                                                                            <small class="badge bg-blue">@item.FeedbackCount</small>
                                                                        }
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                break;
                                            }
                                        case "transferred":
                                            {
                                                <div>
                                                    <i class="fa fa-user-plus bg-olive"></i>
                                                    <div class="timeline-item">
                                                        <span class="time">
                                                            <i class="fa fa-calendar">
                                                                &nbsp;@dateAction
                                                            </i>
                                                        </span>
                                                        <h3 class="timeline-header no-border">
                                                            <small class="text-bold">
                                                                <a href="@Url.Action("Track","ViewPatients", new { code = item.Code })" target="_blank">@item.Code</a>
                                                            </small>
                                                            <a href="#">@item.PatientName</a>
                                                            was transferred by
                                                            <span class="text-success">@item.ActionMd</span>'s
                                                        </h3>
                                                    </div>
                                                </div>
                                                break;
                                            }
                                        case "arrived":
                                            {
                                                <div>
                                                    <i class="fa fa-user-plus bg-olive"></i>
                                                    <div class="timeline-item">
                                                        <span class="time">
                                                            <i class="fa fa-calendar">
                                                                &nbsp;@dateAction
                                                            </i>
                                                        </span>
                                                        <h3 class="timeline-header no-border">
                                                            <small class="text-bold">
                                                                <a href="@Url.Action("Track","ViewPatients", new { code = item.Code })" target="_blank">@item.Code</a>
                                                            </small>
                                                            <a href="#">@item.PatientName</a>
                                                            has arrived by
                                                            <span class="text-success">@item.ActionMd</span>'s
                                                            department
                                                        </h3>
                                                        <div class="timeline-footer">
                                                            <div class="form-inline">
                                                                <div class="form-group">
                                                                    @if (item.SeenCount > 0)
                                                                    {
                                                                        <button type="button" class="btn btn-success btn-xs" data-toggle="small-modal" data-target="#seen-modal" data-url="@Url.Action("ViewSeens","Modals", new { trackingId = item.TrackingId })">
                                                                            <i class="fa fa-user-md"></i>
                                                                            &nbsp;Seen
                                                                            <small class="badge bg-green">@item.SeenCount</small>
                                                                        </button>
                                                                    }
                                                                    <button type="button" class="btn btn-info btn-xs" data-toggle="small-modal" data-target="#seen-modal" data-url="@Url.Action("ViewReco","Modals", new { code = item.Code })">
                                                                        <i class="fa fa-comments"></i>
                                                                        &nbsp;ReCo
                                                                        @if (item.FeedbackCount > 0)
                                                                        {
                                                                            <small class="badge bg-blue">@item.FeedbackCount</small>
                                                                        }
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                break;
                                            }
                                        case "cancelled":
                                            {
                                                <div>
                                                    <i class="fa fa-ban bg-danger"></i>
                                                    <div class="timeline-item">
                                                        <span class="time">
                                                            <i class="fa fa-calendar">
                                                                &nbsp;@dateAction
                                                            </i>
                                                        </span>
                                                        <h3 class="timeline-header no-border">
                                                            <small class="text-bold">
                                                                <a href="@Url.Action("Track","ViewPatients", new { code = item.Code })" target="_blank">@item.Code</a>
                                                            </small>
                                                            <a href="#">@item.PatientName</a>
                                                            was
                                                            <span class="badge badge-danger">
                                                                cancelled
                                                            </span>
                                                            by
                                                            <span class="text-success">@item.ActionMd</span>
                                                        </h3>
                                                        <div class="timeline-footer">
                                                            <div class="form-inline">
                                                                <div class="form-group">
                                                                    @if (item.SeenCount > 0)
                                                                    {
                                                                        <button type="button" class="btn btn-success btn-xs" data-toggle="small-modal" data-target="#seen-modal" data-url="@Url.Action("ViewSeens","Modals", new { trackingId = item.TrackingId })">
                                                                            <i class="fa fa-user-md"></i>
                                                                            &nbsp;Seen
                                                                            <small class="badge bg-green">@item.SeenCount</small>
                                                                        </button>
                                                                    }
                                                                    <button type="button" class="btn btn-info btn-xs" data-toggle="small-modal" data-target="#seen-modal" data-url="@Url.Action("ViewReco","Modals", new { code = item.Code })">
                                                                        <i class="fa fa-comments"></i>
                                                                        &nbsp;ReCo
                                                                        @if (item.FeedbackCount > 0)
                                                                        {
                                                                            <small class="badge bg-blue">@item.FeedbackCount</small>
                                                                        }
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                break;
                                            }
                                        case "admitted":
                                            {
                                                <div>
                                                    <i class="fa fa-user-plus bg-olive"></i>
                                                    <div class="timeline-item">
                                                        <span class="time">
                                                            <i class="fa fa-calendar">
                                                                &nbsp;@dateAction
                                                            </i>
                                                        </span>
                                                        <h3 class="timeline-header no-border">
                                                            <small class="text-bold">
                                                                <a href="@Url.Action("Track","ViewPatients", new { code = item.Code })" target="_blank">@item.Code</a>
                                                            </small>
                                                            <a href="#">@item.PatientName</a>
                                                            was admitted by
                                                            <span class="text-success">@item.ActionMd</span>
                                                        </h3>
                                                        <div class="timeline-footer">
                                                            <div class="form-inline">
                                                                <div class="form-group">
                                                                    @if (item.SeenCount > 0)
                                                                    {
                                                                        <button type="button" class="btn btn-success btn-xs" data-toggle="small-modal" data-target="#seen-modal" data-url="@Url.Action("ViewSeens","Modals", new { trackingId = item.TrackingId })">
                                                                            <i class="fa fa-user-md"></i>
                                                                            &nbsp;Seen
                                                                            <small class="badge bg-green">@item.SeenCount</small>
                                                                        </button>
                                                                    }
                                                                    <button type="button" class="btn btn-info btn-xs" data-toggle="small-modal" data-target="#seen-modal" data-url="@Url.Action("ViewReco","Modals", new { code = item.Code })">
                                                                        <i class="fa fa-comments"></i>
                                                                        &nbsp;ReCo
                                                                        @if (item.FeedbackCount > 0)
                                                                        {
                                                                            <small class="badge bg-blue">@item.FeedbackCount</small>
                                                                        }
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                break;
                                            }
                                        case "referred":
                                            {
                                                var bgColor = currentUserDepartment == item.DepartmentId ? "#ADFE95" : "#C2FCFE";
                                                <div>
                                                    <i class="fa fa-ambulance bg-gradient-blue"></i>
                                                    <div class="timeline-item" style="background-color: @bgColor !important;">
                                                        <span class="time">
                                                            <i class="fa fa-calendar">
                                                                &nbsp;@dateAction
                                                            </i>
                                                        </span>
                                                        <h3 class="timeline-header no-border">
                                                            <small class="text-bold">
                                                                <a href="@Url.Action("Track","ViewPatients", new { code = item.Code })" target="_blank">@item.Code</a>
                                                            </small>
                                                            <a href="#">@item.PatientName</a>
                                                            <small class="text-muted">[@item.PatientSex, @item.PatientAge]</small>
                                                            was <span class="badge bg-blue">referred</span> to
                                                            <span class="text-danger">@item.Department</span>
                                                            by
                                                            <span class="text-success">@item.ReferringMd</span>
                                                            of
                                                            <span class="text-warning">@item.ReferredFrom</span>
                                                        </h3>
                                                        <div class="timeline-footer">
                                                            <div class="form-inline">
                                                                <div class="form-group">
                                                                    @if (currentUserFacility == item.ReferredToId && currentUserDepartment == item.DepartmentId)
                                                                    {
                                                                        var dataTarget = item.Pregnant ? "pregnant-form-modal" : "patient-form-modal";
                                                                        var dataUrl = item.Pregnant ? Url.Action("PregnantForm", "ViewForms", new { code = item.Code }) : Url.Action("PatientForm", "ViewForms", new { code = item.Code });

                                                                        <button type="button" class="btn btn-warning btn-xs" data-toggle="ajax-modal" data-target="#@dataTarget" data-url="@dataUrl">
                                                                            <i class="fa fa-user-md"></i>
                                                                            &nbsp;View Form
                                                                        </button>

                                                                    }
                                                                    @if (item.SeenCount > 0)
                                                                    {
                                                                        <button type="button" class="btn btn-success btn-xs" data-toggle="ajax-modal" data-target="#seen-modal" data-url="@Url.Action("ViewSeens","Modals", new { trackingId = item.TrackingId })">
                                                                            <i class="fa fa-user-md"></i>
                                                                            &nbsp;Seen
                                                                            <small class="badge bg-green">@item.SeenCount</small>
                                                                        </button>
                                                                    }
                                                                    <button type="button" class="btn btn-info btn-xs" data-toggle="ajax-modal" data-target="#reco-modal" data-url="@Url.Action("ViewReco","Modals", new { code = item.Code })">
                                                                        <i class="fa fa-comments"></i>
                                                                        &nbsp;ReCo
                                                                        @if (item.FeedbackCount > 0)
                                                                        {
                                                                            <small class="badge bg-blue">@item.FeedbackCount</small>
                                                                        }
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                break;
                                            }
                                        case "discharged":
                                            {
                                                <div>
                                                    <i class="fa fa-user-plus bg-olive"></i>
                                                    <div class="timeline-item">
                                                        <span class="time">
                                                            <i class="fa fa-calendar">
                                                                &nbsp;@dateAction
                                                            </i>
                                                        </span>
                                                        <h3 class="timeline-header no-border">
                                                            <small class="text-bold">
                                                                <a href="@Url.Action("Track","ViewPatients", new { code = item.Code })" target="_blank">@item.Code</a>
                                                            </small>
                                                            <a href="#">@item.PatientName</a>
                                                            was
                                                            <span class="badge badge-success">
                                                                discharged
                                                            </span>
                                                            by
                                                            <span class="text-success">@item.ActionMd</span>
                                                        </h3>
                                                        <div class="timeline-footer">
                                                            <div class="form-inline">
                                                                <div class="form-group">
                                                                    @if (item.SeenCount > 0)
                                                                    {
                                                                        <button type="button" class="btn btn-success btn-xs" data-toggle="small-modal" data-target="#seen-modal" data-url="@Url.Action("ViewSeens","Modals", new { trackingId = item.TrackingId })">
                                                                            <i class="fa fa-user-md"></i>
                                                                            &nbsp;Seen
                                                                            <small class="badge bg-green">@item.SeenCount</small>
                                                                        </button>
                                                                    }
                                                                    <button type="button" class="btn btn-info btn-xs" data-toggle="small-modal" data-target="#seen-modal" data-url="@Url.Action("ViewReco","Modals", new { code = item.Code })">
                                                                        <i class="fa fa-comments"></i>
                                                                        &nbsp;ReCo
                                                                        @if (item.FeedbackCount > 0)
                                                                        {
                                                                            <small class="badge bg-blue">@item.FeedbackCount</small>
                                                                        }
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                break;
                                            }
                                    }
                                }
                            }
                            else
                            {
                                <div class="alert alert-warning">
                                    <span class="text-warning">
                                        <i class="fa fa-exclamation-triangle"></i> No referrals!
                                        <ul>
                                            <li>Filer List:</li>
                                            <ul>
                                                <li>Date range - @startDate - @endDate</li>
                                            </ul>
                                        </ul>
                                    </span>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card-footer">
                        @await Html.PartialAsync("~/Views/Shared/PartialViews/_PageList.cshtml", new PageListModel
                       {
                           Action = "Incoming",
                           HasNextPage = Model.HasNextPage,
                           HasPreviousPage = Model.HasPreviousPage,
                           PageIndex = Model._pageIndex,
                           TotalPages = Model._totalPages,
                           Parameters = new Dictionary<string, string>
                           {
                               {"page",Model._pageIndex.ToString() },
                               {"search", ViewBag.CurrentSearch },
                               { "dateRange",dateRange },
                               { "department",ViewBag.SelectedDepartment},
                               { "status", ViewBag.SelectedStatus }
                           }
                       })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="@accept">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Accept</h4>
            </div>
            <div id="accept_content">
                <hr />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="redirect-modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>REFER TO OTHER FACILITY</h4>
            </div>
            <div id="redirect-content">
                <hr />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('input[name="daterange"]').daterangepicker({
            format: 'YYYY/MM/DD',
            startDate: '@startDate',
            endDate: '@endDate'
        });
    });
    
</script>