@model Referral2.Models.PatientForm

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PatientForm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniqueId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniqueId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeReferred)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeReferred)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeTransferred)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeTransferred)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecommendSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecommendSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Description)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.CivilStatus)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferredMdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferredMdNavigation.Contact)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferredToNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferredToNavigation.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferringFacility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferringFacility.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferringMdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferringMdNavigation.Contact)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
