@model IEnumerable<Referral2.Models.PatientForm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UniqueId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeReferred)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTransferred)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseSummary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecommendSummary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferredMdNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferredToNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferringFacility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferringMdNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniqueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeReferred)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTransferred)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseSummary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecommendSummary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.CivilStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferredMdNavigation.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferredToNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferringFacility.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferringMdNavigation.Contact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-code="@item.Code">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
