@model IEnumerable<SupportChatViewModel>

@{
    ViewData["Title"] = "Referral System";
    var userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
    var userFacility = int.Parse(User.FindFirstValue("Facility"));
    var direction = "";
}
    <div class="row">
        <div class="col-md-9">
            <div class="card card-success card-outline direct-chat direct-chat-primary">
                <div class="card-header with-border">
                    <h3 class="box-title">
                        <span class="feedback_code">IT Support: Group Chat</span>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="direct-chat-messages" style="height:400px" id="it-group-chat">
                        @if (Model != null)
                        {
                            var x = 0;
                            foreach (var item in Model)
                            {
                                x++;
                                var chatTime = item.MessageDate.GetDate("dd MMM hh:mm tt");
                                direction = item.SupportId.Equals(userId) ? "right" : "left";
                                var reverse = direction == "right" ? "left" : "right";
                                var last = x == Model.Count() ? "last-item" : "";
                                <div class="direct-chat-msg @direction" id="chats">
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name fa-pull-@direction">@item.SupportName</span>
                                        <span class="direct-chat-timestamp fa-pull-@reverse">@chatTime</span>
                                    </div>
                                    <img class="direct-chat-img" title="@item.SupportFacilityName" src="~/assets/dist/img/MDMale.jpg" alt="Message User Image">
                                    <div class="direct-chat-text" id="@last">
                                        @item.Message
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="card-footer">
                    <form asp-action="Chat" method="post" id="feedbackForm">
                        <div class="input-group">
                            <input type="hidden" name="MdId" value="@userId" />
                            <input type="hidden" name="Code" value="it-group-chat" />
                            <input type="text" name="Message" id="message" required="" placeholder="Type Message ..." class="form-control" autocomplete="off">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success">Send</button>
                            </span>
                        </div>
                    </form>
                </div>
                <!-- /.box-footer-->
            </div>
        </div>
        <div class="col-md-3">
            <partial name="~/Views/Shared/PartialViews/_LinksPartial.cshtml" />
        </div>
    </div>

<script type="text/javascript">
    var chaat = document.getElementById('#chats');
    $('html,body').animate({ scrollTop: 9999 }, 0);
    $('div.direct-chat-messages').animate({scrollTop:$('#last-item').position().top}, 0);
    //$('div.direct-chat-messages').scrollTo($('#last-item').position().top, {duration:0})
</script>
    