@model List<GraphValuesModel>

@{
	ViewData["Title"] = "Graph";
	string[] facilities = null;
	int[] incoming = null;
	int[] accepted = null;
	int[] outgoing = null;
}

<link href="~/assets/plugins/chart.js/Chart.min.css" rel="stylesheet" />
<script src="~/assets/dist/js/utils.js"></script>
<div class="content">
	<div class="card card-outline card-success">
		<div class="card-header">
			<div style="width: 100%;">
				<canvas id="canvas"></canvas>
			</div>


			@foreach (var item in Model)
			{
				<input type="text" class="facilityName" value="@item.Facility" hidden />
				<input type="hidden" class="incoming" value="@item.Incoming" />
				<input type="hidden" class="accepted" value="@item.Accepted" />
				<input type="hidden" class="outgoing" value="@item.Outgoing" />
				<input type="hidden" class="total" value="@item.Total" />
			}
		</div>
	</div>
</div>
<script>
    var Facilities = [];
    var Incoming = [];
    var Accepted = [];
    var Outgoing = [];
    var IncomingBG = [];
    var AcceptedBG = [];
    var OutgoingBG = [];
    var fac = $('.facilityName');
    var inc = $('.incoming');
    var acc = $('.accepted');
	var out = $('.outgoing');
	for(var i = 0; i < fac.length; i++){
        Facilities[i] = ($(fac[i]).val());
        Incoming[i] = ($(inc[i]).val());
        Accepted[i] = ($(acc[i]).val());
        Outgoing[i] = ($(out[i]).val());
        //IncomingBG = '#0000FF';
        //AcceptedBG = '#0000FF';
        //OutgoingBG = '#0000FF';
    }
	window.chartColors = {
      red: 'rgb(255, 99, 132)',
      orange: 'rgb(255, 159, 64)',
      yellow: 'rgb(255, 205, 86)',
      green: 'rgb(45, 201, 12)',
      blue: 'rgb(54, 162, 235)',
      purple: 'rgb(153, 102, 255)',
      grey: 'rgb(201, 203, 207)'
    };
    var thicc = 3;
    var Total = $('.total');
    var x = 0;
    var color = Chart.helpers.color;
    var horizontalBarChartData = {
        labels: Facilities,
		datasets: [{
			label: 'Incoming',
            backgroundColor: color(window.chartColors.blue).alpha(1).rgbString(),
            borderColor: window.chartColors.blue,
            borderWidth: 1,
			barThickness: thicc,
            data: Incoming
		}, {
			label: 'Accepted',
			backgroundColor: color(window.chartColors.red).alpha(1).rgbString(),
			borderColor: window.chartColors.red,
            borderWidth: 1,
			barThickness: thicc,
			data: Accepted
		}, {
			label: 'Outgoing',
			backgroundColor: color(window.chartColors.green).alpha(1).rgbString(),
			borderColor: window.chartColors.green,
            borderWidth: 1,
			barThickness: thicc,
			data: Outgoing
		}]

	};

	window.onload = function () {
		var ctx = document.getElementById('canvas').getContext('2d');
		window.myHorizontalBar = new Chart(ctx, {
			type: 'horizontalBar',
			data: horizontalBarChartData,
			options: {
				// Elements options apply to all of the options unless overridden in a dataset
				// In this case, we are setting the border of each horizontal bar to be 2px wide
				elements: {
					rectangle: {
						borderWidth: 2,
					}
				},
				responsive: true,
                legend: {
                    display: true,
					position: 'bottom',
				},
				title: {
					display: true,
                    text: 'E REFERRAL REPORT IN JANUARY to SEPTEMBER of 2019',
					fontSize: 30
				}
			}
		});

    };

</script>